---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Brief from "../components/brief.astro";
import Whyus from "../components/whyus.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero title="¡Conoce nuevas culturas a través de sus idiomas!" />
			<Brief />
			<Whyus />
		</main>
		<Footer />
	</body>
</html>
