---
const today = new Date();
import Facebook from "../icons/facebook.astro";
import Whatsapp from "../icons/whatsapp.astro"
import Instagram from "../icons/instagram.astro"
---

<footer>
	&copy; {today.getFullYear()} Developed by Alexagono ft. VibraPixel
	<div class="social-links">
		<a href="" target="_blank">
			<span class="sr-only"></span>
			<Whatsapp width="32" height="32"/>
		</a>
		<a href="https://www.facebook.com/redgir.idiomas" target="_blank">
			<span class="sr-only"></span>
			<Facebook width="32" height="32">
		</a>
		<a href="https://www.instagram.com/redgir.idiomas/" target="_blank">
			<span class="sr-only"></span>
			<Instagram width="32" height="32">
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: #456a89;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: #456a89;
	}
	.social-links a:hover {
		color: #456a89;
	}
</style>
